# Ignore everything by default
*

# Allow directories so we can whitelist their contents
!*/

# Whitelist ONLY essential files for build and distribution
!.gitignore
!LICENSE
!NOTICE.md
!Cargo.toml
!Cargo.lock
!gemini-extension.json
!AGENTS.md
!GEMINI.md
!models_config.toml
!README.md

# Whitelist source code
!src/**

# Whitelist GitHub workflows
!.github/**
